<div id="FormPessoal">
  <form [formGroup]="FormPessoal" (ngSubmit)="ProcessaPessoal()">
    <br />
    <statusbar [statusbarvalue]="ValBarra"></statusbar>

    <br />
    <h2>Dado Pessoais</h2>
    <hr />
    <div class="form-group">
      <div class="row">
        <div class="col-3">
          <label for="nome" [class.fully]="nome.value">Nome</label>
          <input
            type="text"
            formControlName="nome"
            id="nome"
            #nome
            class="form-control"
            required
          />
        </div>

        <div class="col-3">
          <label for="sobrenome" [class.fully]="sobrenome.value"
            >Sobrenome</label
          >
          <input
            type="text"
            formControlName="sobrenome"
            id="sobrenome"
            class="form-control"
            #sobrenome
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label for="social" [class.fully]="social.value">Nome Social</label>
          <input
            type="text"
            formControlName="social"
            id="social"
            class="form-control"
            #social
          />
        </div>
        <div class="col-2">
          <label for="Nascimento" [class.fully]="nascimento.value"
            >Nascimento</label
          >
          <input
            type="text"
            formControlName="Nascimento"
            id="Nascimento"
            class="form-control"
            #nascimento
            required
          />
        </div>
        <div class="col-3">
          <label
            for="Genero"
            [class.fully]="genero.value && genero.value != 'Selecione...'"
            >Genero</label
          >
          <select
            class="form-control"
            formControlName="Genero"
            #genero
            required
          >
            <option>Selecione...</option>
            <option>Transgender</option>
            <option>Biheteronormatizada</option>
            <option>Neutre</option>
            <option>Binarie</option>
            <option>Pluriel</option>
          </select>
        </div>

        <label>Sexo</label>
        <br />

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="F"
            formControlName="Sexo"
            name="Sexo"
            value="F"
            #sexoF
          />
          <label
            class="form-check-label"
            for="F"
            [class.fully]="sexoF.value && sexoF.checked"
            >Femino</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="M"
            formControlName="Sexo"
            name="Sexo"
            value="M"
            #sexoM
          />
          <label
            class="form-check-label"
            for="M"
            [class.fully]="sexoM.value && sexoM.checked"
            >Masculino</label
          >
        </div>

        <br />
        <br />
        <h2>Dados de Identificação</h2>
        <hr />
        <div class="row">
          <div class="col-3">
            <label for="CPF" [class.fully]="cpf.value">CPF/CNPJ</label>
            <input
              type="text"
              formControlName="CPF"
              id="CPF"
              class="form-control"
              #cpf
              required
            />
          </div>

          <div class="col-3">
            <label for="Passaport" [class.fully]="Passaport.value"
              >Passaporte</label
            >
            <input
              type="text"
              formControlName="CPF"
              id="Passaport"
              class="form-control"
              #Passaport
              required
            />
          </div>

          <div class="col-3">
            <label for="Vacinacao" [class.fully]="vacina.value">
              Carteira Vacinação</label
            >
            <input
              type="text"
              formControlName="Vacinacao"
              id="Vacinacao"
              class="form-control"
              #vacina
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label for="RG" [class.fully]="rg.value">RG</label>
          <input
            type="text"
            formControlName="RG"
            id="RG"
            class="form-control"
            #rg
          />
        </div>

        <div class="col-3">
          <label for="Eleitor" [class.fully]="eleitor.value"
            >Titulo de Eleitor</label
          >
          <input
            type="text"
            formControlName="Eleitor"
            id="Eleitor"
            class="form-control"
            #eleitor
          />
        </div>

        <div class="col-3">
          <label for="Motorista" [class.fully]="motorista.value"
            >Carteira de Motorista</label
          >
          <input
            type="text"
            formControlName="Motorista"
            id="Motorista"
            class="form-control"
            #motorista
          />
        </div>
      </div>

      <br />
      <h2>Dados Residenciais</h2>
      <hr />
      <div class="row">
        <div class="col-2">
          <label
            for="Pais"
            [class.fully]="
              residencia.value && residencia.value != 'Selecione...'
            "
            >Pais de Residencia</label
          >
          <select
            class="form-control"
            formControlName="Pais"
            #residencia
            required
          >
            <option selected>Selecione...</option>
            <option>Brasil</option>
            <option>Burundi</option>
            <option>Giné Bissau</option>
            <option>Barbados</option>
            <option>Benin</option>
          </select>
        </div>

        <div class="col-2">
          <label for="cep" [class.fully]="cep.value">Cep</label>
          <input
            type="text"
            formControlName="cep"
            id="Cep"
            class="form-control"
            #cep
            required
          />
        </div>

        <div class="col-4">
          <label for="Rua" [class.fully]="rua.value">Rua</label>
          <input
            type="text"
            formControlName="Rua"
            id="Rua"
            class="form-control"
            #rua
          />
        </div>

        <div class="col-3">
          <label for="Referencia" [class.fully]="referencia.value"
            >Referencia</label
          >
          <input
            type="text"
            formControlName="Referencia"
            id="Referencia"
            class="form-control"
            #referencia
          />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label
            for="Estado"
            [class.fully]="estado.value && estado.value != 'Selecione...'"
            >Estado</label
          >
          <select class="form-control" formControlName="Estado" #estado>
            <option>Selecione...</option>
            <option>São Paulo</option>
            <option>Bahia</option>
            <option>Minas</option>
            <option>Rio de Janeiro</option>
            <option>Amazonas</option>
          </select>
        </div>
        <div class="col-3">
          <label
            for="Cidade"
            [class.fully]="cidade.value && cidade.value != 'Selecione...'"
            >Cidade</label
          >
          <select class="form-control" formControlName="Cidade" #cidade>
            <option>Selecione...</option>
            <option>São Paulo</option>
            <option>Carapicuiba</option>
            <option>Guarulhos</option>
            <option>Santos</option>
            <option>Barueri</option>
          </select>
        </div>
      </div>
    </div>
    <br />

    <p *ngIf="FormPessoal.invalid" [class.alerta]="FormPessoal.invalid">
      * Você deve prencher todos os campos antes para enviar
    </p>
    <button type="btn" class="btn btn-outline-light">
      <!--[disabled]="FormPessoal.invalid"-->
      ENVIAR REGISTRO
    </button>
  </form>
</div>
