.Main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
    background-color : #dc3545e6 !important;

    img {
        height: 200px;
    }
}

body{
    background-color : #dc3545e6 !important;
}