@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../src/app/Dist/Variaveis/variaveis.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: aliceblue;
    font: inherit;
    vertical-align: baseline;
    background-color: var(--background);
   
}

