<div id="CadPag">
  <h1>Cadastrar Pagamento</h1>
  <hr />

  <div class="MainData">
    <form class="FormCard" [formGroup]="FormPayment">
      <h2>Dados do Cartão</h2>

      <div class="col-7">
        <label for="Nome">Nome</label>

        <input
          type="text"
          formControlName="NomTitular"
          id="NomTitular"
          class="form-control"
          #NomTitular
          required
        />
      </div>

      <div class="form-group">
        <div class="col-6">
          <label for="NumCartao">Numero</label>
          <input
            type="text"
            formControlName="NumCartao"
            id="NumCartao"
            #NumCartao
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label for="CVC">CVC</label>
          <input
            type="text"
            formControlName="NumCVC"
            id="NumCVC"
            #NumCVC
            class="form-control"
            required
          />
        </div>

        <div class="col-3">
          <label for="NumValidade">Validade</label>
          <input
            type="text"
            formControlName="NumValidade"
            id="NumValidade"
            #NumValidade
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="col-5">
        <label for="CpfTitular">CPF Titular</label>
        <input
          type="text"
          formControlName="CpfTitular"
          id="CpfTitular"
          #CpfTitular
          class="form-control"
          required
        />
      </div>

      <div class="row">
        <div class="col-3">
          <label class="form-check-label" for="CardModalC"> Credito </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="CardModal"
            formControlName="CardModal"
            id="CardModalC"
            value="C"
            #CardModalC
          />
        </div>

        <div class="col-3">
          <label class="form-check-label" for="CardModalD"> Debito </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="CardModal"
            formControlName="CardModal"
            id="CardModalD"
            value="D"
            #CardModalD
          />
        </div>
      </div>

      <br />
      <button type="btn" class="btn btn-outline-danger">Continuar</button>
    </form>

    <div id="Card">
      <div id="LogoCard">
        <p>SpaceX Card</p>
      </div>
      <br />

      <section>
        <p *ngIf="NomTitular.value">{{ NomTitular.value | uppercase }}</p>
        <p *ngIf="!NomTitular.value">{{ "JOÃO DA SILVA" }}</p>
      </section>
      
      <section>
        <h4 *ngIf="NumCartao.value">{{ NumCartao.value }}</h4>
        <h4 *ngIf="!NumCartao.value">{{ " 000.000.000.000 " }}</h4>
      </section>

      <section class="inline">
        <p *ngIf="NumCVC.value" >CVC {{ NumCVC.value }}</p>
        <p *ngIf="NumValidade.value">Validade {{ NumValidade.value }}</p>

        <p *ngIf="!NumCVC.value">CVC {{ '000' }}</p>
        <p *ngIf="!NumValidade.value">Validade {{ '00/00' }}</p>
      </section>

      <br />
    </div>
  </div>
</div>
